<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.animal.service.impl.AnimalMapper">

	<!-- 동물 리스트 조회 -->
	<select id="getSearchAnimal" parameterType="AnimalVO" resultType="AnimalVO">
		SELECT ANIMALNUMBER
			, NAME
			, GENDER
			, KIND
			, BIRTH
			, IMAGE
			, MEMBERID
			FROM ANIMAL
			WHERE MEMBERID=#{memberId}
	</select>
	
	<!-- 반려동물 상세조회(의료수첩에 포함) -->
	<select id="getAnimal" parameterType="AnimalVO" resultType="AnimalVO">
		SELECT ANIMALNUMBER
			, NAME
			, GENDER
			, KIND
			, BIRTH
			, IMAGE
			, MEMBERID
		FROM ANIMAL
		WHERE ANIMALNUMBER = #{animalNumber}
		</select>

	<!-- 반려동물 등록 -->
	<insert id="insertAnimal" parameterType="AnimalVO">
		INSERT INTO ANIMAL (
					ANIMALNUMBER
				  , NAME
				  , GENDER
				  , KIND
				  ,BIRTH
				  , MEMBERID
				  , IMAGE
				  ) VALUES(
				  ANI_SEQ.NEXTVAL
				  , #{name}
				  , #{gender}
				  , #{kind}
				  , #{birth}
				  , #{memberId}
				  , #{image})
	</insert>
	
	<!-- 반려동물 정보 수정 -->
	<update id="updateAnimal" parameterType="AnimalVO">
		UPDATE ANIMAL 
		<set> 
		 <if test="name != null">			 NAME = #{name}</if>
		 <if test="gender != null">			, GENDER = #{gender}</if>
		 <if test="kind != null">			, KIND = #{kind}</if>
		 <if test="birth != null">			, BIRTH = #{birth}</if>
		 <if test="memberId != null">		, MEMBERID = #{memberId}</if>
		 <if test="image != null">			, IMAGE = #{image}</if>
		</set>
		WHERE ANIMALNUMBER = #{animalNumber}
	</update>
	
	<!-- 반려동물 삭제 -->
	<delete id="deleteAnimal" parameterType="AnimalVO">
		DELETE FROM ANIMAL
		WHERE ANIMALNUMBER = #{animalNumber}
	</delete>
	
	<!--관리자용 동물 리스트 조회 -->
	<select id="getSearchAnimal99" parameterType="AnimalVO" resultType="AnimalVO">
		SELECT ANIMALNUMBER
			, NAME
			, GENDER
			, KIND
			, BIRTH
			, MEMBERID
			FROM ANIMAL
	</select>
</mapper>