<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.bCart.service.impl.BCartMapper">
	<!-- 등록 -->
	<insert id="insertBCart">
		INSERT INTO BCART(
			BCARTNUMBER,
			IMAGE1,
			NAME,
			OPTIONNAME,
			PRICE,
			COUNT,
			BISNUMBER,
			MEMBERID
		)VALUES(
			BCART_SEQ.NEXTVAL,
			#{image1},
			#{name},
			#{optionName},
			#{price},
			#{count},
			#{bisNumber},<!-- 제품번호를 의미해서 seq값을 가져옴 -->
			#{memberId}
		)
	</insert>
	<!-- 수정 -->
	<update id="updateBCart">
		UPDATE  BCART
		SET = 
		WHERE MEMBERID = #{memberId}
	</update>
	<!-- 삭제 -->
	<delete id="deleteBCart">
		DELETE FROM BCART
		WHERE MEMBERID = #{memberId}
		AND BCARTNUMBER = #{bcartNumber}
	</delete>
	<!-- 장바구니 단건조회 -->
	<select id="getBCart" resultType="bCartVO">
		SELECT * FROM BCART
		WHERE
		MEMBERID = #{memberId}
	</select>
	<!-- 장바구니 리스트조회 -->
	<select id="getSearchBCart" resultType="bCartVO">
		SELECT * FROM BCART
		WHERE
		MEMBERID = #{memberId}
	</select>
</mapper>