<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.board.service.impl.BoardMapper">
	
	<!--관리자가 게시판을 전체 조회  -->
	<select id="getSearchBoard" resultType="boardVO">
		SELECT * FROM BOARD
	</select>
	<select id="getBoard" resultType="boardVO"
		parameterType="boardVO">
		SELECT * FROM BOARD
		WHERE BOARDNUMBER=#{boardNumber}
	</select>

	<update id="updateBoard" parameterType="boardVO">
		UPDATE BOARD SET
		TITLE=#{title} ,
		IMAGE=#{image} ,
		CONTENT=#{content} ,
		CATEGORY= #{category}
		WHERE BOARDNUMBER= #{boardNumber}
	</update>
	<delete id="deleteBoard" parameterType="boardVO">
		DELETE FROM BOARD
		WHERE BOARDNUMBER=#{boardNumber}
	</delete>
	
</mapper>

<!-- 스프링 초기설정 오류방지용 -->
