<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.board.service.impl.BoardMapper">

	<select id="getSearchBoard" resultType="boardVO">
		SELECT * FROM BOARD
	</select>
	<select id="getBoard" resultType="boardVO"
		parameterType="boardVO">
		SELECT * FROM BOARD
		WHERE BOARDNUMBER=#{boardNumber}
	</select>

	<update id="updateBoard" parameterType="boardVO">
		UPDATE BOARD SET
		TITLE=#{title} ,
		IMAGE=#{image} ,
		CONTENT=#{content} ,
		CATEGORY= #{category}
		WHERE BOARDNUMBER= #{boardNumber}
	</update>
	<delete id="deleteBoard" parameterType="boardVO">
		DELETE FROM BOARD
		WHERE BOARDNUMBER=#{boardNumber}
	</delete>

	<select id="getSearchBoardCategiry1" resultType="boardVO"
		parameterType="boardVO">
		SELECT * FROM BOARD
		WHERE category=1
	</select>

	<select id="getSearchBoardCategiry2" resultType="boardVO"
		parameterType="boardVO">
		SELECT * FROM BOARD
		WHERE category=2
	</select>
	<insert id="insertBoard" parameterType="boardVO">
		  insert into board(BOARDNUMBER
		  					, IMAGE
		  					, TITLE
		  					, CALENDAR
		  					, CONTENT
		  					, WRITER
		  					, VIEWS
		  					, CATEGORY
		  					, MEMBERID)
		  			 values(board1_seq.nextval
		  			 		, #{image}
		  			 		, #{title}
		  			 		, sysdate
		  			 		, #{content}
		  			 		, #{writer}
		  			 		, 0
		  			 		, 1
		  			 		,#{memberId})
	</insert>
	<insert id="insertBoard2" parameterType="boardVO">
		  insert into board(BOARDNUMBER
		  					, IMAGE
		  					, TITLE
		  					, CALENDAR
		  					, CONTENT
		  					, WRITER
		  					, VIEWS
		  					, CATEGORY
		  					, MEMBERID)
		  			 values(board1_seq.nextval
		  			 		, #{image}
		  			 		, #{title}
		  			 		, sysdate
		  			 		, #{content}
		  			 		, #{writer}
		  			 		, 0
		  			 		, 2
		  			 		,#{memberId})
	</insert>
	
</mapper>

<!-- 스프링 초기설정 오류방지용 -->
