<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.board.service.impl.BoardMapper">
	
	<!--관리자가 게시판을 전체 조회  -->
	<select id="getSearchBoard" resultType="boardVO">
	SELECT * FROM BOARD
	</select>
	
	<!-- 게시판을 한건조회 -->
	<select id="getBoard" resultType="boardVO"
						  parameterType="boardVO">
	SELECT * FROM BOARD 
	WHERE BOARDNUMBER=#{boardNumber}		
	</select>
	
	<!-- 게시판 수정  -->
	<update id="updateBoard" parameterType="boardVO">
	UPDATE BOARD SET 
	 TITLE=#{title} ,
	  IMAGE=#{image} , 
	CONTENT=#{content} , 
	CATEGORY= #{category} 
	WHERE BOARDNUMBER= #{boardNumber}
	</update>
	
	<!-- 게시판 한건 삭제  -->
	
	<delete id="deleteBoard" parameterType="boardVO">
	DELETE FROM BOARD
	WHERE BOARDNUMBER=#{boardNumber}
	</delete>

	<!--여기서 부터 만드러야됨! 							 -->
	
	<!--  1번 자유게시판 조회 -->
	<select id="getSearchBoardCategiry1" resultType="boardVO"
        parameterType="boardVO">
        SELECT * FROM BOARD
        WHERE category=1
    </select>

	<!-- 2번 자랑하기 조회 -->
    <select id="getSearchBoardCategiry2" resultType="boardVO"
        parameterType="boardVO">
        SELECT * FROM BOARD
        WHERE category=2
    </select>
    
    <!-- 1번 자유게시판 글쓰기  -->
    <insert id="insertBoard" parameterType="boardVO">
          insert into board(BOARDNUMBER
                              , IMAGE
                              , TITLE
                              , CALENDAR
                              , CONTENT
                              , WRITER
                              , VIEWS
                              , CATEGORY
                              , MEMBERID)
                       values(board1_seq.nextval
                               , #{image}
                               , #{title}
                               , sysdate
                               , #{content}
                               , #{writer}
                               , 0
                               , 1
                               ,#{memberId})
    </insert>
    
    <!-- 2번 자랑하기 글쓰기 -->
    <insert id="insertBoard2" parameterType="boardVO">
          insert into board(BOARDNUMBER
                              , IMAGE
                              , TITLE
                              , CALENDAR
                              , CONTENT
                              , WRITER
                              , VIEWS
                              , CATEGORY
                              , MEMBERID)
                       values(board1_seq.nextval
                               , #{image}
                               , #{title}
                               , sysdate
                               , #{content}
                               , #{writer}
                               , 0
                               , 2
                               ,#{memberId})
    </insert>


</mapper>
