<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.business.service.impl.BusinessMapper">
	<insert id="insertBusiness" parameterType="businessVO">
		INSERT INTO business(
					businessId
					, password
					, email
					, businessName
					, post
					, address
					, address2
					, phone
					, businessNumber
					, businessCode
					) VALUES(
					#{businessId}
					, #{password}
					, #{email}
					, #{businessName}
					, #{post}
					, #{address}
					, #{address2}
					, #{phone}
					, #{businessNumber}
					, #{businessCode}
					)
	</insert>
	<select id="getBusiness" parameterType="businessVO" resultType="businessVO">
		SELECT 
			businessId
			, password
			, email
			, businessName
			, post
			, address
			, address2
			, phone
			, auth
			, startDate
			, endDate
			, businessNumber
		FROM business
		WHERE businessId = #{businessId}
	</select>

	<select id="getSearchBusiness" parameterType="businessVO" resultType="businessVO">
		SELECT 
			businessId
			, password
			, email
			, name
			, post
			, address
			, address2
			, phone
			, auth
			, startDate
			, endDate
			, businessNumber
		FROM business
	</select>

	<update id="updateBusiness" parameterType="businessVO">
		UPDATE business 
			<set>
			 <if test="businessId != null">			 businessId = #{businessId}</if>
			 <if test="password != null">			 , password = #{password}</if>
			 <if test="email != null">				 , email = #{email}</if>
			 <if test="name != null">				 , name = #{name}</if>
			 <if test="post != null">				 , post = #{post}</if>
			 <if test="address != null">			 , address = #{address}</if>
			 <if test="address2 != null">			 , address2 = #{address2}</if>
			 <if test="phone != null">		 		 , phone = #{phone}</if>
			 <if test="auth != null">		 		 , auth = #{auth}</if>
			 <if test="startDate != null">		 	 , startDate = #{startDate}</if>
			 <if test="endDate != null">			 , endDate = #{endDate}</if>
			 <if test="businessNumber != null">		 , businessNumber = #{businessNumber}</if>
			</set>
		WHERE businessId = #{businessId}
	</update>

	<delete id="deleteBusiness" parameterType="businessVO">
		DELETE 
		FROM business
		WHERE businessId = #{businessId}
	</delete>
</mapper>