<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.company.business.service.impl.BusinessMapper">
	<!-- 마이페이지-사업자-본인정보 조회 -->
	<select id="getBusiness" resultType="businessVO">
		SELECT * FROM BUSINESS
		WHERE
		BUSINESSNUMBER = #{businessNumber}
	</select>
	<!-- 마이페이지-사업자-본인정보 수정 -->
	<update id="updateBusiness">
		UPDATE BUSINESS
		<set> email = #{email}
		</set>
		<where> BUSINESSNUMBER = #{businessNumber}
		</where>
	</update>
</mapper>