<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.cafe.service.impl.CafeMapper">
	<select id="getCount" resultType="int">
		SELECT COUNT(*)
		FROM CAFE
	</select>

	<!-- 제품 등록 -->
	<insert id="insertCafe">
		INSERT INTO CAFE(
		CAFENUMBER,
		NAME,
		OPTIONNAME,
		PRICE,
		LOCATION,
		BUSINESSNUMBER,
		TIMAGE,
		IMAGE
		)VALUES(
		(SELECT
		NVL(MAX(cafeNUMBER),0)+1 FROM CAFE),
		#{name},
		#{optionName},
		#{price},
		#{location},
		#{businessNumber},
		#{tImage},
		#{image}
		)
	</insert>
	<!-- 제품 수정 -->
	<!-- NAME,OPTIONNAME,PRICE,LOCATION,TIMAGE,IMAGE -->
	<update id="updateCafe">
		UPDATE CAFE
		<set></set>
		<where></where>
	</update>
	<!-- 제품 삭제 -->
	<delete id="deleteCafe">
		DELETE FROM CAFE
		<!-- 제품번호 -->
		WHERE CAFENUMBER = #{cafeNumber}
	</delete>
	<!-- 상세 리스트 -->
	<select id="getCafe" resultType="cafeVO">
		SELECT
		CAFENUMBER,
		NAME,
		OPTIONNAME,
		PRICE,
		LOCATION,
		TIMAGE,
		IMAGE
		FROM CAFE
		<where>CAFENUMBER = #{cafeNumber}
		</where>
	</select>
	<!-- 전체 리스트 -->
	<select id="getSearchCafe" resultType="cafeVO">
		SELECT B.* FROM(SELECT ROWNUM RN, A.* FROM(
		SELECT
		CAFENUMBER,
		NAME,
		OPTIONNAME,
		PRICE,
		LOCATION,
		TIMAGE,
		IMAGE
		FROM CAFE
		ORDER BY CAFENUMBER
		) A) B WHERE RN BETWEEN #{start} AND #{end}
	</select>
</mapper>