<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.cafe.service.impl.CafeMapper">
	<insert id="insertCafe">
		INSERT INTO CAFE(
		CAFENUMBER,
		NAME,
		OPTIONNAME,
		PRICE,
		LOCATION,
		BUSINESSNUMBER,
		TIMAGE,
		IMAGE
		)VALUES( 
		(SELECT NVL(MAX(cafeNUMBER),0)+1 FROM CAFE),
		#{name},
		#{optionName},
		#{price},
		#{location},
		#{businessNumber},
		#{tImage},
		#{image}
		)
	</insert>
</mapper>