<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.eventAndNotice.service.impl.EventAndNoticeMapper">
	<!--이벤트 등록  -->
	<insert id="insertEventAndNotice1" parameterType="eventAndNoticeVO">
		
	INSERT INTO eventAndNotice 
     (EANNUMBER
     ,WRITER 
     ,TITLE
	 ,CONTENT
	 ,STARTDATE
	 ,ENDDATE
	 ,IMAGE
	 ,VIEWS
	 ,CATEGORY
	 ,MEMBERID) VALUES(ean_seq.nextval 
	 , 'admin' 
	 , #{title} 
	 , #{content}
	 , #{startDate} 
	 , #{endDate}  
	 , #{image} 
	 , 0 
	 , 1 
	 , 'admin')
	</insert>
	<!--공지사항 등록  -->
	<insert id="insertEventAndNotice2" parameterType="eventAndNoticeVO">
		
	INSERT INTO eventAndNotice 
     (EANNUMBER
     ,WRITER 
     ,IMAGE
     ,TITLE
	 ,CONTENT
	 ,STARTDATE
	 ,VIEWS
	 ,CATEGORY
	 ,MEMBERID) VALUES(ean_seq.nextval 
	 , 'admin' 
	 , #{image}
	 , #{title} 
	 , #{content}
	 ,	sysdate 
	 , 0 
	 , 2 
	 , 'admin')
	</insert>
	
	
	<select id="getSearchEventAndNotice" resultType="eventAndNoticeVO">
	SELECT * FROM eventAndNotice
	
	</select>
	<!-- 1번. 이벤트 -->
	<select id="getSearchEventAndNoticeSelect" resultType="eventAndNoticeVO"
									parameterType="eventAndNoticeVO" > 
	SELECT * 
	FROM eventAndNotice
	WHERE CATEGORY= 1
	</select>
	<!-- 2번. 공지사항 -->
	<select id="getSearchEventAndNoticeSelect2" resultType="eventAndNoticeVO"
									parameterType="eventAndNoticeVO" > 
	SELECT * 
	FROM eventAndNotice
	WHERE CATEGORY= 2
	</select>
	
	<select id="getEventAndNotice" resultType="eventAndNoticeVO"
									parameterType="eventAndNoticeVO" > 
	SELECT * 
	FROM eventAndNotice
	WHERE EANNUMBER= #{eanNumber}
	</select>
	
</mapper>

<!-- 스프링 초기설정 오류방지용 -->
