<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.company.hospital.service.impl.HospitalMapper">

	<!-- 병원상품 리스트조회 -->
	<select id="getSearchHospital" parameterType="HospitalVO"
		resultType="HospitalVO">
		SELECT SEQ
		, CATEGORY1
		, CATEGORY2
		, NAME
		, OPTIONNAME
		<!-- , TO_CHAR(PRICE, '999,999,999')AS PRICE -->
		, PRICE
		, LOCATION
		, BUSINESSNUMBER
		, T_IMAGE
		, IMAGE
		FROM HOSPITAL
		ORDER BY SEQ DESC
	</select>
	<!-- 병원상품 상세화면조회 -->
	<select id="getHospital" parameterType="HospitalVO"
		resultType="HospitalVO">
		SELECT SEQ
		, CATEGORY1
		, CATEGORY2
		, NAME
		, OPTIONNAME
		<!-- , TO_CHAR(PRICE, '999,999,999')AS PRICE -->
		, PRICE
		, LOCATION
		, BUSINESSNUMBER
		, T_IMAGE
		, IMAGE
		FROM HOSPITAL
		WHERE SEQ=#{seq}
	</select>
	<!-- 병원상품 등록 -->
	<insert id="insertHospital" parameterType="hospitalVO">
		INSERT INTO HOSPITAL(
		SEQ
		, BUSINESSNUMBER
		, CATEGORY1
		, CATEGORY2
		, NAME
		, OPTIONNAME
		, PRICE
		, LOCATION
		, T_IMAGE
		, IMAGE
		) VALUES(
		20||HOSPI_SEQ.NEXTVAL
		, #{businessNumber}
		, #{category1, jdbcType=VARCHAR}
		, #{category2}
		, #{name}
		<foreach item="opname" collection="optionNameList" open=",'" separator="," close="'" >${opname}</foreach>
		<foreach item="opprice" collection="optionPriceList" open=",'" separator="," close="'" >${opprice}</foreach>
		, #{location}
		, #{t_image}
		, #{image}
		)
	</insert>
	<!-- 병원상품 수정 -->
	<update id="updateHospital" parameterType="HospitalVO">
		UPDATE HOSPITAL
		<set>
			<if test="category1 != null">,CATEGORY1 = #{category1}</if>
			<if test="category2 != null">,CATEGORY2 = #{category2}</if>
			<if test="image != null">,IMAGE = #{image}</if>
			<if test="t_image != null">,T_IMAGE = #{t_image}</if>
			<if test="name != null">,NAME = #{name}</if>
			<if test="optionName != null">,OPTIONNAME = #{optionName}</if>
			<if test="price != null">,PRICE = #{price}</if>
			<if test="location != null">,LOCATION = #{location}</if>
		</set>
		WHERE SEQ = #{seq}
	</update>

	<!-- 병원상품 삭제 -->
	<delete id="deleteHospital">
		DELETE FROM HOSPITAL
		WHERE SEQ=#{seq}
	</delete>

	<!-- 사업자별 병원조회 -->
	<select id="bGetSearchHospital" parameterType="HospitalVO">
		SELECT CATEGORY1
		, CATEGORY2
		, NAME
		, OPTIONNAME
		FROM HOSPITAL
		WHERE BUSINESSNUMBER=#{businessNumber}
	</select>
	<!-- 병원리스트 아작스출력+페이징처리용 -->
	<select id="getSearchHospital99" resultType="HospitalVO"
		parameterType="HospitalVO">
		SELECT B.* FROM(SELECT ROWNUM RN, A.* FROM(
		<!-- start of query -->
		SELECT
		SEQ
		,CATEGORY1
		,CATEGORY2
		,IMAGE
		,T_IMAGE
		,NAME
		,OPTIONNAME
		,PRICE
		,BUSINESSNUMBER
		,LOCATION
		FROM HOSPITAL
		WHERE CATEGORY1 = #{category1}
		<if test="categoryList != null">
			AND CATEGORY2 IN
			<foreach item="cate" collection="categoryList" open="("
				separator="," close=")">
				#{cate}
			</foreach>
		</if>
		ORDER BY SEQ
		<!-- end of query -->
		) A) B WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 병원리스트 아작스출력 + 페이징처리용 + 지역별검색 -->
	<select id="getSearchHospitalLocation" resultType="HospitalVO"
		parameterType="HospitalVO">
		SELECT B.* FROM(SELECT ROWNUM RN, A.* FROM(
		<!-- start of query -->
		SELECT
		SEQ
		,CATEGORY1
		,CATEGORY2
		,IMAGE
		,T_IMAGE
		,NAME
		,OPTIONNAME
		,PRICE
		,BUSINESSNUMBER
		,LOCATION
		FROM HOSPITAL
		WHERE CATEGORY1 = #{category1}
		<if test="categoryList != null">
			AND CATEGORY2 IN
			<foreach item="cate" collection="categoryList" open="("
				separator="," close=")">
				#{cate}
			</foreach>
		</if>
		AND LOCATION = #{location}
		ORDER BY SEQ
		<!-- end of query -->
		) A) B WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="getCount" resultType="int">
		SELECT COUNT(*)
		FROM HOSPITAL
	</select>
</mapper>