<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.member.service.impl.MemberMapper">
	
	<select id="getSearchMember" resultType="memberVO">
	SELECT * FROM MEMBER
	</select>
	
	
	<select id="getMember" resultType="memberVO"
							parameterType="memberVO"			>
		
		SELECT *
			
			FROM MEMBER
			WHERE MEMBERID=#{meberId}
	
	</select>
	
	<insert id="insertMember"
			parameterType="memberVO"	>
		INSERT INTO MEMBER(MEMBERID,PASSWORD,EMAIL,NAME,POST,ADDRESS,ADDRESS2,PHONE,AUTH,STARTDATE,ENDDATE)
		VALUE(
		  #{memberId}
		 ,#{password}
		 ,#{email}
		 ,#{name}
		 ,#{post}
		 ,#{address}
		 ,#{address2}
		 ,#{phone}
		 ,#{startDate}
		 ,#{endDate}
		)	
	</insert>
	<!--삭제  -->
		<delete id="deleteMember" 
			parameterType="memberVO">
			DELETE FROM MEMBER WHERE MEMBERID=#{memberId}
		</delete>
		
		<update id="updateMember"
					parameterType="memberVO">
			UPDATE MEMBER SET password=#{password}
		 , EMAIL=#{email}
		 , NAME=#{name}
		 ,POST #{post}
		 ,ADDRESS = #{address}
		 ,ADDRESS2 = #{address2}
		 ,PHONE = #{phone}
		 , STARTDATE = #{startDate}
		 , ENDDATE = #{endDate}
		 WHERE MEMBERID= #{memberId}
					</update>
</mapper>
<!-- 스프링 초기설정 오류방지용 -->
