<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.payAndDelivery.service.impl.PayAndDeliveryMapper">
	<!-- 구매내역리스트 조회 -->
	<select id="getSearchPayAndDelivery" resultType="PayAndDeliveryVO">
	SELECT PNDNUMBER
	, CATEGORY
	, COURIERCOMPANY
	, PAYDATE
	, INVOICENUMBER
	, TO_CHAR(SUMPRICE, '999,999,999') AS SUMPRICE
	, MEMBERID
	, BUYSTATE 
	FROM PAYANDDELIVERY
	WHERE MEMBERID=#{memberId}
	</select>
	
	<!-- 예약하기 버튼눌러서 날짜선택시 PAYANDDELIVERY DB update -->
	<update id="updateReservation2" parameterType="PayAndDeliveryVO">
		UPDATE PAYANDDELIVERY SET 
		BUYSTATE='예약완료'
		WHERE PNDNUMBER=#{pndNumber}
	</update>
	
	<!-- 관리자용 구매내역리스트 조회 -->
	<select id="getSearchPayAndDelivery99" resultType="PayAndDeliveryVO">
	SELECT *
	FROM PAYANDDELIVERY
	</select>
	
	<!-- 관리자의 배송정보 입력 -->	
	<update id="updateDelivery" parameterType="PayAndDeliveryVO">
		UPDATE PAYANDDELIVERY SET 
		COURIERCOMPANY = #{courierCompany}
		, INVOICENUMBER = #{invoiceNumber}
		WHERE PNDNUMBER=#{pndNumber}
	</update>

	<!-- 결제내역 차트용 -->

	<!-- 일별합계 -->
	<select id="dailyTotal" resultType="map">
		SELECT
		TO_CHAR(PAYDATE,'yyyy-mm-dd') paydate, sum(SUMPRICE) sumprice
		FROM PAYANDDELIVERY
		WHERE CATEGORY = #{category}
		AND (BUYSTATE = '결제완료'
		OR BUYSTATE = '예약완료')
		GROUP paydate
	</select>
</mapper>