<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.company.payAndDelivery.service.impl.PayAndDeliveryMapper">

	<!-- 구매내역리스트 조회 -->
	<select id="getSearchPayAndDelivery" resultType="PayAndDeliveryVO">
	SELECT PNDNUMBER
	, CATEGORY
	, COURIERCOMPANY
	, PAYDATE
	, INVOICENUMBER
	, TO_CHAR(SUMPRICE, '999,999,999') AS SUMPRICE
	, MEMBERID
	, BUYSTATE 
	FROM PAYANDDELIVERY
	WHERE MEMBERID=#{memberId}
	ORDER BY PNDNUMBER
	</select>
	
	
	<!-- 예약하기 버튼눌러서 날짜선택시 PAYANDDELIVERY DB update -->
	<update id="updateReservation2" parameterType="PayAndDeliveryVO">
		UPDATE PAYANDDELIVERY SET 
		BUYSTATE='예약완료'
		WHERE PNDNUMBER=#{pndNumber}
	</update>
	
	<!-- 관리자용 구매내역리스트 조회 -->
	<select id="getSearchPayAndDelivery99" resultType="PayAndDeliveryVO">
	SELECT *
	FROM PAYANDDELIVERY
	ORDER BY PNDNUMBER
	</select>
	
	<!-- 관리자의 배송정보 입력 -->	
	<update id="updateDelivery" parameterType="PayAndDeliveryVO">
		UPDATE PAYANDDELIVERY SET 
		COURIERCOMPANY = #{courierCompany}
		, INVOICENUMBER = #{invoiceNumber}
		WHERE PNDNUMBER=#{pndNumber}
	</update>
	
</mapper>