<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.company.product.service.impl.ProductMapper">
	
	<select id="getCount" resultType="int">
		SELECT COUNT(*)
		FROM PRODUCT
	</select>
	
	<select id="getSearchProduct" resultType="ProductVO"
		parameterType="ProductVO">
		SELECT B.* FROM(SELECT ROWNUM RN, A.* FROM(
		<!-- start of query -->
		SELECT
		PRODUCTNUMBER
		,CATEGORY
		,CATEGORY2
		,IMAGE
		,T_IMAGE
		,PRODUCTNAME
		,OPTIONNAME
		,OPTIONPRICE
		,PRODUCTSTATE
		,MEMBERID
		FROM PRODUCT
		WHERE CATEGORY = #{category}
		<if test="category2">
		AND CATEGORY2 IN
			 <foreach item="category2" index="index" collection="category2"
			      open="(" separator="," close=")" >
			        #{category2}
			  </foreach>
		</if>
		ORDER BY PRODUCTNUMBER
		<!-- end of query -->
		) A) B WHERE RN BETWEEN #{start} AND #{end}
	</select>
	<select id="getProduct" resultType="ProductVO"
		parameterType="ProductVO">
		SELECT
		PRODUCTNUMBER
		,CATEGORY
		,CATEGORY2
		,IMAGE
		,T_IMAGE
		,PRODUCTNAME
		,OPTIONNAME
		,OPTIONPRICE
		,PRODUCTSTATE
		,MEMBERID
		FROM PRODUCT
		WHERE PRODUCTNUMBER = #{productNumber}
	</select>
	<insert id="insertProduct" parameterType="ProductVO">
		INSERT INTO
		PRODUCT(
		PRODUCTNUMBER
		,CATEGORY
		,CATEGORY2
		,IMAGE
		,T_IMAGE
		,PRODUCTNAME
		,OPTIONNAME
		,OPTIONPRICE
		,PRODUCTSTATE
		,MEMBERID
		) VALUES(
		70 || pro_seq.nextval
		,#{category}
		,#{category2}
		,#{image}
		,#{t_image}
		,#{productName}
		,#{optionName}
		,#{optionPrice}
		,#{productState}
		,#{memberId}
		)
	</insert>
	<delete id="deleteProduct">
		DELETE FROM PRODUCT
		WHERE PRODUCTNUMBER = #{productNumber}
	</delete>
	<update id="updateProduct">
		UPDATE PRODUCT
			<set>				
				<if test="productNumber">PRODUCTNUMBER = #{productNumber}</if>
				<if test="category">,CATEGORY = #{category}</if>
				<if test="category2">,CATEGORY2 = #{category2}</if>
				<if test="image">,IMAGE = #{image}</if>
				<if test="t_image">,T_IMAGE = #{t_image}</if>
				<if test="productName">,PRODUCTNAME = #{productName}</if>
				<if test="optionName">,OPTIONNAME = #{optionName}</if>
				<if test="optionPrice">,OPTIONPRICE = #{optionPrice}</if>
				<if test="productState">,PRODUCTSTATE = #{productState}</if>
				<if test="memberId">,MEMBERID = #{memberId}</if>
			</set>
		WHERE PRODUCTNUMBER = #{productNumber}
	</update>
</mapper>
<!-- 스프링 초기설정 오류방지용 -->
