<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.company.product.service.impl.ProductMapper">
	<select id="getSearchProduct" resultType="ProductVO" parameterType="ProductVO">
		SELECT
			PRODUCTNUMBER
			,CATEGORY
			,CATEGORY2
			,IMAGE
			,T_IMAGE
			,PRODUCTNAME
			,OPTIONNAME
			,TO_CHAR(OPTIONPRICE, '999,999,999') as OPTIONPRICE
			,PRODUCTSTATE
			,MEMBERID
		FROM PRODUCT
	</select>
	<select id="getProduct" resultType="ProductVO" parameterType="ProductVO">
		SELECT
			PRODUCTNUMBER
			,CATEGORY
			,CATEGORY2
			,IMAGE
			,T_IMAGE
			,PRODUCTNAME
			,OPTIONNAME
			,TO_CHAR(OPTIONPRICE, '999,999,999') as OPTIONPRICE
			,PRODUCTSTATE
			,MEMBERID
		FROM PRODUCT
		WHERE PRODUCTNUMBER = #{productNumber}
	</select>
	<insert id="insertProduct" parameterType="ProductVO" >
		INSERT INTO PRODUCT(	 	
			PRODUCTNUMBER
			,CATEGORY
			,CATEGORY2
			,IMAGE
			,T_IMAGE
			,PRODUCTNAME
			,OPTIONNAME
			,OPTIONPRICE
			,PRODUCTSTATE
			,MEMBERID
		) VALUES(
			70 || pro_seq.nextval
			,#{category}
			,#{category2}
			,#{image}
			,#{t_image}
			,#{productName}
			,#{optionName}
			,#{optionPrice}
			,#{productState}
			,#{memberId}
		)		
	</insert>
</mapper>
<!-- 스프링 초기설정 오류방지용 -->
