<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.question.service.impl.QuestionMapper">

	<select id="getSearchQuestion" resultType="questionVO">	<!-- 문의하기 전체조회 -->
	SELECT * FROM QUESTION
	</select>
	<select id="getSearchQuestionSelect1" resultType="questionVO"> <!-- 1번 상품문의 -->
	SELECT * FROM QUESTION 
	WHERE CATEGORY=1
	ORDER BY WRITER ASC	
	</select>
	<select id="getSearchQuestionSelect2" resultType="questionVO"> <!-- 2번 고객센터문의 -->
	SELECT * FROM QUESTION 
	WHERE CATEGORY=2
	ORDER BY WRITER ASC	
	</select>
	<select id="getSearchQuestionSelect3" resultType="questionVO"> <!-- 3번 신고하기 -->
	SELECT * FROM QUESTION 
	WHERE CATEGORY=3
	ORDER BY WRITER ASC	
	</select>
	<!--이거도 3개로 나눠야하나???  -->
	<select id="getQuestion1" resultType="questionVO"
						  parameterType="questionVO">	<!-- 1번 상품문의 단건조회  -->
	SELECT * FROM QUESTION 
	WHERE TITLE=#{title}
	</select>
	<select id="getQuestion2" resultType="questionVO"
						  parameterType="questionVO">	<!-- 2번 고객센터문의 단건조회  -->
	SELECT * FROM QUESTION 
	WHERE TITLE=#{title}
	</select>
	<select id="getQuestion3" resultType="questionVO"
						  parameterType="questionVO">	<!-- 3번 신고하기 단건조회  -->
	SELECT * FROM QUESTION 
	WHERE TITLE=#{title}
	</select>
	
</mapper>

<!-- 스프링 초기설정 오류방지용 -->
