<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.review.service.impl.ReviewMapper">



	<!-- 병원전체조회 -->
	<select id="getSearchReview" parameterType="reviewVO" resultType="reviewVO">
		SELECT 
			*
		FROM Review
	</select>
	<!-- 병원단건조회 -->
	<select id="getReview" parameterType="reviewVO" resultType="reviewVO">
		SELECT 
			*
		FROM REVIEW
		WHERE reviewNumber = #{reviewNumber}
	</select>
</mapper>