<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.review.service.impl.ReviewMapper">

<!-- 구매평 등록 -->
<insert id="insertReview" parameterType="reviewVO">
	insert into review(
				REVIEWNUMBER
			    , CATEGORY
			    , TITLE
			    , CONTENT
				, WRITER
				, CALENDAR
				, PROBISNUMBER
				, MEMBERID
				) VALUES(
				review_seq.NEXTVAL
				, 1
				, #{title}
				, #{content}
				, #{writer}
				, sysdate
				, #{probisNumber}
				, #{memberId}	)
</insert>
	<!-- 상품상세보기별 리뷰리스트 출력 -->
	<select id="getSearchReview" parameterType="reviewVO" resultType="reviewVO">
		SELECT 
			*
		FROM Review
		WHERE PROBISNUMBER=#{probisNumber}
	</select>
	<select id="getReview" parameterType="reviewVO" resultType="reviewVO">
		SELECT 
			*
		FROM Review
		WHERE REVIEWNUMBER = #{reviewNumber}
	</select>
	<!-- 일반사용자 후기내역 -->
	<select id="getSearchReview99" parameterType="reviewVO" resultType="reviewVO">
		SELECT 
			*
		FROM Review
		WHERE memberId = #{memberId}
	</select>
	<!-- 후기(구매평) 수정 -->
	<update id="updateReview" parameterType="reviewVO">
		UPDATE Review 
			<set>
			 <if test="memberId != null">	memberId = #{memberId}</if>
			 <if test="title != null">		, title = #{title}</if>
			 <if test="content != null">	, content = #{content}</if>
			</set>
		WHERE REVIEWNUMBER = #{reviewNumber}
	</update>
	<delete id="deleteReview" parameterType="reviewVO">
		DELETE 
		FROM Review
		WHERE REVIEWNUMBER = #{reviewNumber}
	</delete>
</mapper>