<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.review.service.impl.ReviewMapper">

<!-- 구매평 등록 -->
<insert id="insertReview" parameterType="reviewVO">
	insert into review(
				REVIEWNUMBER
			    , CATEGORY
			    , TITLE
			    , CONTENT
				, WRITER
				, CALENDAR
				, PROBISNUMBER
				, MEMBERID
				) VALUES(
				review_seq.NEXTVAL
				, 1
				, #{title}
				, #{content}
				, #{writer}
				, sysdate
				, #{probisNumber}
				, #{memberId}	)
</insert>
	<select id="getSearchReview" parameterType="reviewVO" resultType="reviewVO">
		SELECT 
			*
		FROM Review
	</select>
	<select id="getReview" parameterType="reviewVO" resultType="reviewVO">
		SELECT 
			*
		FROM Review
		WHERE REVIEWNUMBER = #{reviewNumber}
	</select>
</mapper>