<?xml version="1.0" encoding="UTF-8"?>
<Configuration>    
    <Appenders>
        <Console name="console_root" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p %m%n" />
        </Console>
        <Console name="console_com" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{MM-dd HH:mm} %5p [%c{-3}] %M-%L %m%n" />
        </Console>
        <!-- <File name="MyFile" fileName="d:/logs/app.log">
      		<PatternLayout>
        		<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      		</PatternLayout>
    	</File>
    	<File name="MyFile1" fileName="d:/logs/app.html">
      		<HtmlLayout datePattern="ISO8601" timezone="GMT+9"/>
    	</File> -->         
    </Appenders>
    
    <Loggers>
         <Logger name="java.sql" level="debug" additivity="false">
            <AppenderRef ref="console_com" />
        </Logger>
        <Logger name="jdbc.sqltiming" level="INFO" additivity="false">
            <AppenderRef ref="console_com" />
        </Logger>
        <Logger name="egovframework" level="INFO" additivity="false">
            <AppenderRef ref="console_com" />
        </Logger>
        <Logger name="com.yedam" level="debug" additivity="false">
            <AppenderRef ref="console_com" />
        </Logger>
        <Logger name="org.springframework" level="debug" additivity="false">
            <AppenderRef ref="console_com" />
        </Logger>
        <Root level="debug">
            <AppenderRef ref="console_com" />
        </Root>
    </Loggers>
</Configuration>